*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    max-width:100wh;
    height: 85px;
    padding: 2px;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9),rgba(0,0,0,0.8),rgba(0,0,0,0.7));
}
.nav{
  display: inline-block;
  color: white;
  margin-inline: 4%;  
  margin-top: 27px;
  padding: 3px 10px 3px 10px;
}
.active{
    background-color: white;
    color: black;
}
.section1{
    background-image:url(/Images\ 1.jpg);
    width: auto;
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;

}
.section2{
    width: auto;
    height: 500px;
}
.img{
    width: 29%;
    height: 90%;
    margin: 2%;
}
.section3{
    width: 100%;
    height: 550px;
    padding: 2px;
    background-color: black;
}
.div1{
    width: 45%;
    height: 280px;
    display: inline-block;
    margin: 15px;
    color: white;
    
    
}
.div2{
    width: 45%;
    height: 500px;
    display: inline-block;
    margin: 1%;
    padding-top: 20px;
}
.img5{
    width: 100%;
    height: 380px;
}